body {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
}

.nav-wrapper {
    background-color: black;
}

.card-body{

  margin-left: auto;
  margin-right: auto;
  max-width: 700px;
  min-width: 200px;

}

.body{
  padding-left: 5%;
  padding-right: 5%;
}


.card-content {
    background-color: rgba(0, 0, 0, 0.85);
    color: white;
    border-radius: 0 !important;
}

.card-image {
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 0 !important;
}

.header {
    /*background-color: black;*/
    color: white;
}

.card-action {
    background-color: rgba(0, 0, 0, 0.8) !important;
    border-radius: 0 !important;
}



.btn-floating {
    color: black;
    background-color: black !important;
}

#breaking_news {
    margin-top: 0px;
    background-color: rgba(78, 78, 78, 0.767);
    height: 30px;
}

.breaking_news_1 {
    height: inherit;
    line-height: 2;
    text-align: center;

    animation-duration: 10s;

    animation-timing-function: ease-in-out;

    animation-iteration-count: infinite;

    animation-name: breaking_news_anim;
}

@keyframes breaking_news_anim {

    0%,
    10% {
        opacity: 0;
    }

    10%,
    75% {
        opacity: 1;
    }

    75%,
    100% {
        opacity: 0;
    }
}

#mapid{
  position: absolute;
  height: 100%;
  width: 100%;
}

#FullScreenButton {
	position: absolute;
	left: 50px;
	top:10px;
	z-index: 1000;
}

#TrashButton {
	position: absolute;
	left: 50px;
	top:80px;
	z-index: 1000;
}

.mapbox{
  height: 300px;
}
