body{
    width: 100%;
    height: 100%;
  }

  #brand-logos
  {
    size: 30% !important;
  }

  nav
  {
    background-color: white !important;
    margin-left: auto;
    margin-right: auto;
    max-width: 95%;
    border-radius: 10px 10px 10px 10px;
  }

  .nav-wrapper
  {
    margin-top: 1%;
    background-color: #000000;
    border-radius: 10px 10px 10px 10px;
  }

#SOS
{
  color: red !important;
  font-weight: bold;
  font-size: 30px;

}


  #breaking_news{
    max-width: 90%;
    margin-top: 1%;

    border-radius: 10px 10px 10px 10px;

    background-color: #ff9100 !important;
    height: 3%;
  }

  .breaking_news_1{

    line-height: 2;
    /*text-align: center;*/
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    animation-duration: 6s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;

    animation-name: breaking_news_anim;
  }

  .card-body{

    margin-left: auto;
    margin-right: auto;
    max-width: 700px;
    min-width: 200px;

  }

  .body{
    padding-left: 5%;
    padding-right: 5%;
  }

  .fas
  {
    margin-left: 10%;
    margin-top: 10%;
  }

  .btn-floating
  {
    color: #ff9100 !important;
    background: #ff9100 !important;
  }
  @keyframes breaking_news_anim {
      0%, 10% { opacity: 0; }
    10%,75% { opacity: 1; }
    75%, 100% { opacity: 0; }
  }

  #mapid{
    position: absolute;
    height: 100%;
    width: 100%;
  }

  #FullScreenButton {
  	position: absolute;
  	left: 50px;
  	top:10px;
  	z-index: 1000;
  }

  #TrashButton {
  	position: absolute;
  	left: 50px;
  	top:80px;
  	z-index: 1000;
  }

  .mapbox{
    height: 300px;
  }
